.login {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f0f2f5;

  // 登录容器卡片
  .login-container {
    width: 440px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    // logo样式
    img {
      display: block;
      margin: 0 auto 20px;
      width: 128px;
    }

    // 表单样式
    .ant-form {
      padding: 20px;
    }
  }
}
